<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">


<div class="container">
    <div class="card-header p-0">
        <div class="bg-primary text-white text-center py-2">
        </div>
    </div>
    <blockquote>
        <h4>Nombre: {{usuario.nombre}} </h4>
    </blockquote>
    <div class="col-lg-12">
        <div class="card border-primary rounded-0">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-md-2">
                        <div class="button" style="padding-top:18px">
                            <button [routerLink]="['/galeria', usuario.Iduser]" type=" button " class="btn btn-success btn-circle"><i class="glyphicon glyphicon-repeat"></i>  Retornar al Perfil</button>
                            <!--  clase del boton  class="btn btn-success btn-icon" -->
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="button" style="padding-top:18px">
                            <button type=" button " class="btn btn-warning btn-circle"><i class="glyphicon glyphicon-repeat"></i>  Ir a Foro del Proveedor</button>
                            <!--  clase del boton  class="btn btn-success btn-icon" -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <form [formGroup]="forma" (ngSubmit)="EliminarImg()">
        <div class="container ">
            <br>
            <!-- <div class="row" *ngFor="let commt of galeria; index as i ">
                <div class="col-sm-6 col-md-4 col-lg-3 mt-4 ">
                    <div class="card ">
                        <img class="card-img-top " [src]="commt.archivo | galeria " class="w150" width="300" height="300">
                        <div class="card-block ">
                            <input formControlName="img" name="img" type="checkbox" id="" value="hola">
                            <label for="vehicle1 "> Selecionar </label><br>
                        </div>
                    </div>
                </div>
            </div> -->

            <h1 class="font-weight-light text-center  mt-4 mb-0">Galeria de Fotos</h1>

            <hr class="mt-2 mb-5">

            <div class="container-flex">
                <div *ngFor="let commt of galeria">

                    <div>
                        <a href="#" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" [src]="commt.archivo | galeria" class="img-10" width="200" height="220">
                        </a>
                    </div>
                    <!-- <div class="col-lg-3 col-md-4 col-6" class="col-lg-3 col-md-4 col-6">
                        <a href="#" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="#" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
    </form>