<main class="container pt-5">

    <div>
        <label for="ciudad">Ciudad:</label>
        <select id="ciudad" (change)="onSelect($event.target.value)">
            <option> -- Seleciona una Ciudad -- </option>
            <option *ngFor="let datas of ciudades" value="{{datas.Idciudad}}">{{datas.nombre}} </option>
        </select>
    </div>

    <br>

    <div class="spinner-grow text-dark">

        <table class="table table-bordered table-definition mb-5">
            <thead class="table-warning ">
                <tr>
                    <th></th>
                    <th>Imagen</th>
                    <th>Usuario</th>
                    <th>Esperiencia</th>
                    <th>Competencias</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let datas of data">

                    <td>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                        </label>
                    </td>
                    <td>
                        <img [src]="datas['img'] | imagen" class="img-10 img-circle pointer" width="50" height="50">
                    </td>
                    <td>
                        <a [routerLink]="['/previous', datas['Iduser']]"> {{ datas['nombre'] }} </a>
                    </td>
                    <td>
                        {{datas['vocacion']}}
                    </td>
                    <td>
                        {{ datas['competencias'] }}
                    </td>
                    <td>
                        <button [routerLink]="['/addpedidos', datas['Iduser']]" class="btn btn-primary listar-btn">  
                            <i class="fa fa-caret-square-o-right" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                <!-- <tr>
                    <td>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                        </label>
                    </td>
                    <td>John Lilki</td>
                    <td>September 14, 2013</td>
                    <td>jhlilk22@yahoo.com</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                        </label>
                    </td>
                    <td>John Lilki</td>
                    <td>September 14, 2013</td>
                    <td>jhlilk22@yahoo.com</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                        </label>
                    </td>
                    <td>John Lilki</td>
                    <td>September 14, 2013</td>
                    <td>jhlilk22@yahoo.com</td>
                    <td>No</td>
                </tr> -->
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th colspan="4">
                        <!-- <button class="btn btn-primary float-right">Limpiar Marcados</button> -->
                        <!-- <button class="btn btn-default">Approve</button>
                        <button class="btn btn-default">Approve All</button> -->
                    </th>
                </tr>
            </tfoot>
        </table>



    </div>


</main>