<article class="wrapper">

    <section class="main">

        <section class="tab-content">

            <section class="tab-pane active fade in content" id="dashboard">

                <!-- <div id="app" class="hola">

                </div> -->

                <div class="row">

                    <div class="col-xs-12 col-sm-3">
                        <div class="panel">
                            <div class="panel-body">
                                <img src="assets/img/page-01.jpeg" class="imgdash" width="180" height="150">
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-3">
                        <div class="panel">
                            <div class="panel-body">
                                <img src="assets/img/page-02.jpeg" class="imgdash" width="180" height="150">
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-3">
                        <div class="panel panel">
                            <div class="panel-body">
                                <img src="assets/img/page-03.jpeg" class="imgdash" width="180" height="150">
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-3">
                        <div class="panel panel">
                            <!-- panel-warning -->
                            <div class="panel-body">
                                <img src="assets/img/page-05.jpeg" class="imgdash" width="180" height="150">
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-10">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Informacion
                            </div>
                            <div *ngIf="role == 'PROV'" class="panel-body dentro">
                                <div class="flex">
                                    <p>Escalarás posiciones mientras mejor sea tu desempeño. Gana puntos mejora tu perfil, obtén beneficios y llega a más y mejores clientes.
                                    </p>
                                    <hr>
                                    <div class="row-padding">

                                        <h4>Puntuacion: {{ valor.score }} </h4>
                                        <!-- <img src="assets/img/estrella2-front.png" width="40" height="28"> -->

                                    </div>

                                    <h4>Trabajos Realizados: {{ pedido }}</h4>

                                    <h4>Total Recaudado: {{ racaudado }}</h4>
                                </div>
                                <div class="flex">
                                    <h4>Total Pendientes:</h4>
                                    <h4>Actividades Creadas:</h4>
                                    <h4>Foros Creados:</h4>

                                </div>
                                <br/><br/><br/><br/><br/>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-2">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Perfil
                            </div>
                            <div class="panel-body perfil">
                                <img *ngIf="!imagenTemp" [src]="usuario[0].img | imagen" class="align-self-center" width="120" height="140">
                                <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150">
                                <h5> Nombre: {{usuario[0].nombre}}</h5>
                                <h5> Ocupacion: {{usuario[0].vocacion}}</h5>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Kaitani Labs
                            </div>
                            <div class="panel-body">
                                Designed by <a href="http://www.kaitanilabs.com" target="_blank">Kaitani Labs</a>
                            </div>
                        </div>
                    </div>

                </div>

            </section>

            <section class="tab-pane fade" id="users">

            </section>

            <section class="tab-pane fade" id="mail">

            </section>

        </section>

    </section>

</article>