<!-- <div class="container d-flex align-items-center flex-column">
    <div class="row ">

        <div class="tab-content col-md-6 ">
            <div role="tabpanel " class="tab-pane profile-pane active " id="profile ">
                <div>
                    <div>
                        <div class="header">
                            <h5>Informacion de Perfil</h5>
                        </div>
                        <div class="content ">
                            <div class="row par-flex">
                                <img *ngIf="!imagenTemp" [src]="usuario[0].img | imagen" class="w150" width="120" height="120">
                                <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150">
                                <div class="col-sm-8 ">
                                    <h6>Nombre: {{usuario[0].nombre}}</h6>
                                    <h6>Ocupacion: {{usuario[0].vocacion}}</h6>
                                </div>
                            </div>
                            <div class="row par-flex">
                                <h5 class="col-sm-3 col-sm-offset-1 col ">Saldo Actual</h5>
                                <h5 class="col-sm-4 col ">Trabajos Realizados</h5>

                                <h4 class="col-sm-10 col-sm-offset-1 title ">Supera tus Metas</h4>
                                <div id="supportedCauses " class="col-sm-10 col-sm-offset-1 ">
                                    <div id="pane1 " class="cause-info ">
                                        <p>Escalarás posiciones mientras mejor sea tu desempeño. Gana puntos mejora tu perfil, obtén beneficios y llega a más y mejores clientes.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="header">
                                <h5>Inforacion de Tu Cuenta</h5>
                            </div>
                            <div class="content ">
                                <div class="row par-flex">

                                    <div class="col-md-8">

                                        <h4>Tu Nivel</h4>

                                        <h6>Puntuacion: {{ valor.puntuacion }} </h6>

                                        <h6>Trabajos Realizados: {{ pedido }} </h6>
                                        <div class="progress mb-4" style="height: 6px;">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (valor +'%')}"></div>
                                        </div>

                                        <form>
                                            <p class="clasificacion">
                                                <input id="radio1" type="radio" name="estrellas" value="5">
                                             
                                              <label for="radio1">★</label>
                                             
                                              <input id="radio2" type="radio" name="estrellas" value="4">
                                              
                                              <label for="radio2">★</label>
                                                
                                              <input id="radio3" type="radio" name="estrellas" value="3">
                                               
                                              <label for="radio3">★</label>
                                              
                                              <input id="radio4" type="radio" name="estrellas" value="2">
                                               
                                              <label for="radio4">★</label>
                                               
                                              <input id="radio5" type="radio" name="estrellas" value="1">
                                               
                                              <label for="radio5">★</label>
                                            </p>
                                        </form>

                                      </div>


                                    <h3 class="col-sm-10 col-sm-offset-1 title ">Ingresos</h3>
                                    <div class="col-sm-4 col-sm-offset-1 membership-info ">
                                        <h5>Total Obtenido</h5>
                                    </div>
                                    <div class="col-sm-6 ">
                                        <h5>{{ racaudado }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel " class="tab-pane " id="statistics ">
                    Estadisticas
                </div>
                <div role="tabpanel " class="tab-pane " id="settings ">
                    Configuracion
                </div>

            </div>
        </div>
    </div>
</div> -->


<article class="wrapper">

    <section class="main">

        <section class="tab-content">

            <section class="tab-pane active fade in content" id="dashboard">

                <div class="row">

                    <div class="col-xs-12 col-sm-3">
                        <div class="panel">
                            <div class="panel-body">
                                <img src="assets/img/page-01.jpeg" class="imgdash" width="180" height="150">
                                <!-- <br/><br/><br/><br/> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-3">
                        <div class="panel">
                            <div class="panel-body">
                                <img src="assets/img/page-02.jpeg" class="imgdash" width="180" height="150">
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-3">
                        <div class="panel panel">
                            <div class="panel-body">
                                <img src="assets/img/page-03.jpeg" class="imgdash" width="180" height="150">
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-3">
                        <div class="panel panel">
                            <!-- panel-warning -->
                            <div class="panel-body">
                                <img src="assets/img/page-05.jpeg" class="imgdash" width="180" height="150">
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-9">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Informacion
                            </div>
                            <div class="panel-body dentro">
                                <div class="flex">
                                    <p>Escalarás posiciones mientras mejor sea tu desempeño. Gana puntos mejora tu perfil, obtén beneficios y llega a más y mejores clientes.
                                    </p>
                                    <hr>
                                    <div class="row">
                                        <h4>Puntuacion: {{ valor.puntuacion }} </h4>
                                        <img src="assets/img/estrella2-front.png" width="40" height="28">
                                    </div>

                                    <h4>Trabajos Realizados: {{ pedido }} </h4>
                                    <h4>Total Recaudado: {{ racaudado }}</h4>
                                </div>
                                <div class="flex">

                                </div>
                                <br/><br/><br/><br/><br/>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-3">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Perfil
                            </div>
                            <div class="panel-body perfil">
                                <img *ngIf="!imagenTemp" [src]="usuario[0].img | imagen" class="align-self-center" width="100" height="120">
                                <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150">
                                <h5> Nombre: {{usuario[0].nombre}}</h5>
                                <h5> Ocupacion: {{usuario[0].vocacion}}</h5>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Kaitani Labs
                            </div>
                            <div class="panel-body">
                                Designed by <a href="http://www.kaitanilabs.com" target="_blank">Kaitani Labs</a>
                            </div>
                        </div>
                    </div>

                </div>

            </section>

            <section class="tab-pane fade" id="configuration">
                <nav class="subbar">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#access" data-toggle="tab"><i class="fa fa-code"></i> <span>System</span></a></li>
                        <li><a href="#roles" data-toggle="tab"><i class="fa fa-user"></i> <span>Roles</span></a></li>
                    </ul>
                </nav>

                <section class="tab-content content">

                    <section class="tab-pane active fade in" id="access">

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Something
                                    </div>
                                    <div class="panel-body">
                                        <br/><br/><br/><br/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Something
                                    </div>
                                    <div class="panel-body">
                                        <br/><br/><br/><br/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Something
                                    </div>
                                    <div class="panel-body">
                                        <br/><br/><br/><br/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Something
                                    </div>
                                    <div class="panel-body">
                                        <br/><br/><br/><br/>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>

                    <section class="tab-pane fade" id="roles">

                        <div class="row">
                            <div class="col-xs-12 col-sm-8 col-md-9">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Something
                                    </div>
                                    <div class="panel-body">
                                        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                                    </div>
                                </div>
                            </div>

                            <div class="hidden-xs col-sm-4 col-md-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Something
                                    </div>
                                    <div class="panel-body">
                                        <br/><br/><br/>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Something
                                    </div>
                                    <div class="panel-body">
                                        <br/><br/><br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </section>

            </section>

            <section class="tab-pane fade" id="users">

            </section>

            <section class="tab-pane fade" id="mail">

            </section>

        </section>




    </section>

</article>



<script>
    $(function() {
        var toggleFunction;
        $('.toggle-handle').click(toggleFunction = function() {
            var area = $('#' + $(this).attr('data-area'));
            if (area.hasClass('expanded')) {
                area.removeClass('expanded');
            } else {
                area.addClass('expanded');
            }
            $(this).blur();
            return false;
        });

        $('#supportedCauses').append(
            $(document.createElement('div')).attr('id', 'pane4').addClass('cause-info').append(
                $(document.createElement('div')).append(
                    $(document.createElement('img')).attr('src', 'http://lorempixel.com/420/420/people'),
                    $(document.createElement('div')).append(
                        $(document.createElement('h4')).text('[Name]'),
                        $(document.createElement('h4')).text('[Cause]')
                    ),
                    $(document.createElement('div')).append(
                        $(document.createElement('h4')).text('[X] Votes')
                    )
                ),
                $(document.createElement('div')).append(
                    $(document.createElement('h4')).text('About:'),
                    $(document.createElement('div')).append(
                        $(document.createElement('p')).text(
                            'Nam ex ullum assum apeirian, facilisi splendide quo ex. Sea et nonumy accusata, in utinam vocent facilis vix. \
                        Cu vix eripuit temporibus mediocritatem, denique theophrastus ne mel, et graecis maiorum mediocritatem per. \
                        Magna tacimates sed eu, sit no graeco latine referrentur. Id sed assum quaerendum, apeirian erroribus ut his. Ex mei mazim minimum.'
                        ),
                        $(document.createElement('h5')).html('More at <a>[Website]</a>')
                    ),
                    $(document.createElement('button')).addClass('btn btn-primary pull-right').text('Give')
                ),
                $(document.createElement('div')).append(
                    $(document.createElement('h2')).append(
                        $(document.createElement('a')).append(
                            $(document.createElement('span')).addClass('glyphicon glyphicon-chevron-down')
                        ).attr('href', '#pane4').attr('data-area', 'pane4').click(toggleFunction)
                    )
                )
            )
        );
    });
</script>