<section>
    <div class="container py-3">
        <div class="card">
            <div class="row ">
                <div class="col-md-4">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class="w-100">
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                        <h4 class="card-title">Resumen de la compañía</h4>
                        <p class="card-text"> Freelancer.com es el mercado más grande de freelancing y crowdsourcing del mundo de acuerdo al número de usuarios y proyectos. Conectamos a más de 42,038,782 empleadores y freelancers de manera global provenientes de más de 247
                            países, regiones y territorios. A través de nuestro mercado, los empleadores pueden contratar freelancers para hacer trabajo en áreas tales como desarrollo de software, redacción, ingreso de datos y diseño hasta ingeniería,
                            ciencias, ventas y marketing, servicios contables y legales. Freelancer Limited es un empresa que cotiza sus acciones en la bolsa de valores de Australia, bajo el símbolo ASX:FLN</p>
                        <a href="#" class="btn btn-primary">Volver</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>