<!-- Contact -->
<section class="container">

    <!--Contact heading-->
    <h5 class="h1 m-0">Informacion del Perfil</h5>
    <!--Contact description-->
    <!-- <p class="pb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p> -->

    <div class="row">

        <!--Grid column-->
        <div class="col-sm-5">
            <!--Form with header-->
            <div class="card border-primary rounded-0">
                <div class="card-header p-0">
                    <div class="bg-primary text-white text-center py-2">
                        <h3><i class="fa fa-envelope"></i> Informacion del Tecnico</h3>
                        <!-- <p class="m-0">We'll write rarely, but only the best content.</p> -->
                    </div>
                </div>
                <div class="card-body p-3">
                    <!--Body-->
                    <div class="form-group">
                        <!-- <label>Your name</label> -->
                        <h6>Nombre: {{usuario.nombre}} </h6>
                        <h6>Ocupacion: {{usuario.vocacion}} </h6>
                    </div>
                    <hr>
                    <h5>Estadisticas</h5>
                    <label> Calificacion por los Usuarios:   </label>
                    <div class="row">
                        <div class="col-sm-2">
                            <h4> {{ data.score }} </h4> <label>★</label>
                        </div>
                    </div>
                </div>
            </div>
            <!--Form with header-->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-sm-5">
            <div class="card border-primary rounded-0">
                <div class="card-header p-0">
                    <div class="bg-primary text-white text-center py-2">
                        <h3>Datos</h3>
                        <!-- <p class="m-0">We'll write rarely, but only the best content.</p> -->
                    </div>
                </div>
                <div class="card-body p-3">
                    <!--Body-->
                    <div class="form-group">
                        <!-- <label>Your name</label> -->
                        <h6>Direccion: {{usuario.direccion}} </h6>
                        <h6>Correo Electronico: {{usuario.email}} </h6>
                    </div>
                    <hr>
                    <h5>Estadisticas</h5>
                    <label> Calificacion por los Usuarios </label>
                    <label> Trabajos Finalizados </label>
                </div>
            </div>
        </div>
        <!--Grid column-->
    </div>
    <div class="col-sm-2">
        <div class="button" style="padding-top:18px">
            <button [routerLink]="['/addpedidos', usuario.Iduser]" type=" button " class="btn btn-light-green ">Solicitar Servicio</button>

        </div>
    </div>
</section>
<div>
    <form [formGroup]="forma2" (ngSubmit)="calificar()">
        <div class="row">
            <div class="col-sm-2">
                <p class="clasificacion">
                    <input formControlName="puntuacion" id="radio1" type="radio" value=5>
                    <!--
                  --><label for="radio1">★</label>
                    <!--
                  --><input formControlName="puntuacion" id="radio2" type="radio" value=4>
                    <!--
                  --><label for="radio2">★</label>
                    <!--
                  --><input formControlName="puntuacion" id="radio3" type="radio" value=3>
                    <!--
                  --><label for="radio3">★</label>
                    <!--
                  --><input formControlName="puntuacion" id="radio4" type="radio" value=2>
                    <!--
                  --><label for="radio4">★</label>
                    <!--
                  --><input formControlName="puntuacion" id="radio5" type="radio" value=1>
                    <!--
                  --><label for="radio5">★</label>
                </p>
            </div>
            <div class="col-sm-3">
                <div class="button" style="padding-top:18px">
                    <button type="submit" class="btn btn-light-green ">Calificar</button>
                </div>
            </div>
        </div>
    </form>
</div>
<hr>

<h4> Comentarios </h4>
<div class="card">
    <form [formGroup]="forma" (ngSubmit)="enviarComent()">
        <textarea formControlName="comentario" name="comentario" class="form-control" id="comentario" placeholder="Ingrese aqui su comentario"></textarea>
        <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Adicionar Comentario</button>
    </form>
</div>



<div class="card" *ngFor="let commt of comentarioss; index as i">
    <div class="row card-header">
        <h6>{{commt.user}}</h6>
        <div>{{commt.fecha}}</div>
    </div>
    <div class="card-body">
        <p class="card-text">{{commt.comentario}}</p>
    </div>
</div>